{% extends 'base.html' %}
{% block content %}
<head>
	<meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Germania One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
    
    <style type="text/css">
        h3 {
            padding-top: 10px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            color: white;
        }
        h4 {
            font-family: 'Bebas Neue';font-size: 22px;
        }
    </style>
</head>
<body>
	<div style="background-color: #343a40; padding-top: 10px">
<font size="30px" style="font-family: Germania One; padding-left: 250px; color: cyan">
    <left> Homemade System for C.A.C.H.E </left><hr color="yellow" size="30" width="20%" noshade style="align-self: center;margin-left: 350px; border-width: 10px" ></hr></font>
    <img src="static\images\product.jpg" align="right" width="370px" height="370px" style="padding-right: 50px; float: right"> </img>
        <div style="padding-left: 10px">
            <font size="5px" face="Alata" color="#f6894b">
            The given picture shows the indigeneous system we have devloped to tackle Air-Pollution. This system <b> entirely uses homegrade materials </b> like (Caustic Soda, Vinegar, Deroderised kerosene etc.). In the market we find various air purifiers that ease our lives. But the uniqueness behind ur project is that it is able to purify organic compounds.
            <ol>Features of the product:
                <li> Can be triggered from anywhere in the world using IoT (Internet of Things). </li>
                <li> Uses real-time Air Quality Data from web </li>
                <li> Can be set up on roof of public vehicles, industries and many other places. </li>
            </ol>
            <br>
            <ul> 
                <li>Materials Required: <ol>
                    <li> Medium Sized Cuboidal Structure With 3 Compartments </li>
                    <li> Transparent Pipe </li>
                    <li> Air Pump   </li>
                    <li> Plain Water </li>
                    <li> Vinegar </li>
                    <li>Kerosene </li>
                    <li>Caustic Soda – NaOH </li>
                </ol>
            </li>
            <br>            
            <li> Problem Statement: <ul type="square">
            <li> India is one of the countries which has been highly polluted and the many cities rank in top 10 of highly polluted cities worldwide.Major contributors to pollution around Delhi and Delhi-NCR region are mostly burning of domestic/farm waste and commonly industrial factors.</li>
            
            <li> Therefore, the objective of our prototype is to combat the ongoing problem of air apocalypse.
            The present models of air purifiers present in market are only able to purify air up to certain extent by filtering pm2.5 and pm10 but our air contains various disease causing organic and acidic compounds. Also, the present air purifiers are not efficient if kept in open places. </li>
            <li> More-over as experimented by the government, the standing tower air purifiers has also failed in areas of Delhi. </li>
            We achieve the objective keeping in mind the economic factors, mass implementation ideas and the existing market models of air purifier so as to get access to cleaner air.
            </ul>
            </li>

            <br>
            
            <li><font size="20px"> Methodology: </font><ol>
                <div class="polaroid">
                  <img src="static\images\workflow.jpg" alt="workflow" style="width:100%; padding-right: 160px;  border-radius: 4px;">
                  <div class="container">
                  <p align="center">Working Diagram</p>
                  <hr color="white" noshade width="5%"> </hr>
                  </div>
                </div>
                <li>The impurified air from atmosphere enters the bottle 1 containing plain water using an air pump which cleans the particulate matter from air, since dust particles like pm2.5 and pm10 get dissolved in water.  </li>
                <li> 1. The impurified air from atmosphere enters the bottle 1 containing plain water using an air pump which cleans the particulate matter from air, since dust particles like pm2.5 and pm10 get dissolved in water. </li>
                <li> 3. Now, the air enters bottle 3 which contains caustic soda (NaOH). The air consists of numerous acidic compounds, caustic soda being a strong base reacts with these acidic compounds causing a neutralising effect resulting in formation of a salt. </li>
                <li> 4. The small-scale model of this would be placed in vehicles and be powered by the vehicle’s batteries. </li>
                <li> The state of the pump in air-purifier will change based upon the reading taken via APIs and IFTTT network. </li> </ol>
            </li>
            <br>
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/NBZEurlvEWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </ul>
        </font>/
        </div>
    </div>

<div class="container-fluid">
    <body style="background-color: #343a40">
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
{% endblock %}